<div class="four-zero">
    <div class="fz-block">
        <h2>404</h2>
        <small>page not found</small>

        <div class="fzb-links">
          <%= link_to '/', method: "get" do %>
            <i class="material-icons" style='font-size: 25px;'>home</i>
          <% end %>
        </div>
    </div>
</div>
