<span class='shadow'></span>
<div class='popup'>
  <div class='close noselect'>x</div>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <% @update.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  var shadow = document.getElementsByClassName('shadow')[0];
  var popup = document.getElementsByClassName('popup')[0];
  var close = document.getElementsByClassName('close')[0];

  close.addEventListener('click', () => {
    shadow.setAttribute('hidden', true);
    popup.setAttribute('hidden', true);
  });
</script>
