<% @permissions = session[:permission]
   if @permissions === 3 || @permissions === 2  %>
  <section id="content">
    <div class="container container-alt">
      <div class='card'>
        <div class='row'>
          <%= render 'chat_app' %>
        </div>
      </div>
    </div>
  </section>
<% else %>
	<%= render 'material_admin/404' %>
<% end %>
