<% @permissions = session[:permission]
   if @permissions === 3 %>
   <section id="content">
     <div class="container">
       <div class="card">
         <%= render 'settings_auto_form' %>
         <%= render 'settings_users' %>
       </div>
     </div>
   </section>
<% else %>
	<%= render 'material_admin/404' %>
<% end %>
