<div class='border-bottom border-top'>
  <div class='row'>
    <div class="col-6">
      <h2 class='padding'>Username</h2>
    </div>

    <div class="col-6">
      <h2 class='padding right-align'>Permission Level</h2>
    </div>
  </div>
</div>

<div class='settings-users'>
  <% @users.each do |user| %>
    <%= form_with scope: :user, url: ('/home/'+user.id.to_s),
                  method: 'put', local: true do |f| %>
      <% if user.id != session[:user_id] %>
        <div class='border-bottom'>
        <div class='row'>

          <div class='col-9 border-right'>
            <h2 style='padding-left: 20px;'><%= user.username.titleize %></h2>
          </div>

          <div class="col-3" style='margin-top:20px;'>
            <%= f.select :permission,
                options_for_select([
                    ['1','1'],
                    ['2','2'],
                    ['3','3']],
                    user.permission), {},
                    style: 'margin-left: 20px;' %>
            <%= f.submit 'update',
                style: 'float:right;margin-right:15px;',
                class: 'form-button'%>
          </div>

        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
